
#header ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

#header li{
	float:left;
	margin:0px;
	padding:0px;
}

#header li a{
	display:block;
	width:150px;
	background-color:yellow;
	margin-right:5px;
	text-align:center;
	padding:2px;


}

.col-1{width:8.33%;
padding: 5px;
border: 1px solid black;}

.col-2{width:16.66%;
padding: 5px;
border: 1px solid black}

.col-3{
	width:24.99%;
padding: 5px;
border: 1px solid black;
}
.col-4{width:33.32%;
padding: 5px;
border: 1px solid black;}

.col-5{width:41.65%;
padding: 5px;
border: 1px solid black;}

.col-6{width:49.98%;
padding: 5px;
border: 1px solid black;}

.col-7{width:58.31%;}
.col-8{width:66.64%;}
.col-9{width:74.97%;}
.col-10{width:83.3%;}
.col-11{width:91.63%;}
.col-12{width:100%;}

.row {
	display: inline-flex;
	padding: 5px;
	width: :  100%;
	position: center;
	border: none;
}

body {
	background-image: url('img/bg2.jpg');
	background-size: 100%;
	min-height: auto;
	min-width: auto;
}

.center {

	position: center;
	padding: 5px;
	text-align:center;
}

.map {

	width: 100%;
}

.cmt {

	display: inline-flex;
	text-align: center;
	padding: 20px;
	margin: center;
	font-size: 20px;
	text-decoration: bold;
}

.option .day .month .year .week {

	display: inline-block;
	text-align: center;
	padding: 40px;
	margin: center;
	font-size: 30px;
	text-decoration: bold;
	text-shadow: black;
}

.footer ul{
	padding: 0px;
	list-style: none;
}

.footer li{
	float: left;
	margin: 0px;
	padding: 1px;
	padding-bottom: 2px;
}

.footer li a{
	display:block;
	width:150px;
	margin-right: 5px;
	text-align: left;
	padding:2px;
	color: black;
}

li span {

	background: gold;
}

.fieldset {

	font-size: 50px;
	text-decoration: bold;
	font-weight: 500px;
	font-style: all;
}
